<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    vmtest : ${vmtest} <br>
    user : ${user} <br>
    testGetString : ${testGetString}<br>
    vmchange : ${vmchange} <br>
    adol : ${adol}<br>
    user2 : ${user2}<br>
    vmreload
</body>
</html>