<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="springContextHolder" class="com.jeremie.spring.utils.SpringContextHolder" lazy-init="false"/>

    <!-- 配置使Spring采用CGLIB代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean class="com.jeremie.spring.rpc.client.proxy.RpcInitializer" init-method="init" destroy-method="destroy">
        <property name="serviceConfigList">
            <list>
                <bean id="minaServerConfig" class="com.jeremie.spring.rpc.remote.config.ServiceConfig">
                    <property name="defaultIp" value="127.0.0.1"/>
                    <property name="defaultPort" value="8091"/>
                    <property name="method" value="mina"/>
                    <property name="name" value="adol-impl"/>
                    <property name="lazyLoading" value="true"/>
                    <property name="loadTimeout" value="1000"/>
                    <property name="packages">
                        <list>
                            <value>com.jeremie.spring.adol.service</value>
                        </list>
                    </property>
                </bean>
                <bean id="httpServerConfig" class="com.jeremie.spring.rpc.remote.config.ServiceConfig">
                    <property name="defaultIp" value="127.0.0.1"/>
                    <property name="defaultPort" value="8095"/>
                    <property name="method" value="http"/>
                    <property name="name" value="home-impl"/>
                    <property name="lazyLoading" value="true"/>
                    <property name="loadTimeout" value="1000"/>
                    <property name="packages">
                        <list>
                            <value>com.jeremie.spring.home.service</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <!-- 自动扫描 ,将带有注解的类 纳入spring容器管理 -->
    <context:component-scan base-package="com.jeremie.spring">
        <context:exclude-filter type="regex" expression="com.jeremie.spring.home.web.*"/>
    </context:component-scan>
</beans>